
/*-----------------------------------------------
    Story Styles
  ----------------------------------------------- */

  body {
    margin: 3em;
  }

  figure img {
    box-shadow: none;
  }


/* =Header
  ----------------------------------------------- */
  header.do h1,
  header.do p {
    display: inline;
  }


/* =Story
  ----------------------------------------------- */
  @media (min-width: 50em) {
    .story {
      float: left;
      width: 50%;
    }
  }
  @media (min-width: 100em) {
    .story {
      width: 25%;
    }
  }



/* =Comments
  ----------------------------------------------- */
  .comments li form {
    margin-top: 0;
  }
  .comments li {
    display: inline-block;
    max-width: 33em;
    margin-right: 2em;
    vertical-align: top;
  }
  @media (min-width: 50em) {
    .comments {
      float: right;
      width: 40%;
    }
  }
  @media (min-width: 100em) {
    .comments {
      width: 70%;
    }
  }

