
/*-----------------------------------------------
    Advertising Prototype
  ----------------------------------------------- */



  /* =Experimental
  ----------------------------------------------- */

  /* Use less margin above and below ads, when they appear in an “activity” or “follow” list */
  li aside.ads {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* OPTIONAL: Make ads take up the full width of the window on small screens */
  aside.ads {
    margin-left: -1.5em;
    margin-right: -1.5em;
  }
  @media (min-width: 40em) {
    aside.ads {
      margin-left: -2.25em;
      margin-right: -2.25em;
    }
  }
  @media (min-width: 66.5625em) { /* @max-page-width */
    aside.ads {
      margin: 0;
    }
  }

  /* Show or hide ads, depending on the screen size. */
  .w300.h250,
  .w728.h90,
  .w468.h60,
  .w300.h50 {
    text-align: center;
  }
  .w300.h250 iframe,
  .w728.h90 iframe,
  .w468.h60 iframe,
  .w300.h50 iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .w300.h250 iframe {
    width: 300px;
  }
  .w728.h90 iframe {
    width: 728px;
  }
  .w468.h60 iframe {
    width: 468px;
  }
  .w300.h50 iframe {
    width: 300px;
  }

  .post .w300.h250,
  .post .w728.h90,
  .post .w468.h60,
  .post .w300.h50 {
    margin-top: 1.75em;
    margin-bottom: 1.75em;
  }

  /* OPTIONAL: Make ads take up the full width of the window on small screens */
  @media (max-width: 66.5625em) { /* @max-page-width */
    .has-aside + aside {
      text-align: center;
      margin-left: -1.5em;
      margin-right: -1.5em;
    }
  }

  /* OPTIONAL: Center the ads on medium size screens */
  @media (min-width: 40em) and (max-width: 66.5625em) { /* @max-page-width */
    .has-aside .ads.has-multiple {
      text-align: center;
    }
    .has-aside .ads.has-multiple .ad,
    .has-aside + aside .ad,
    aside .promotion,
    aside section.facebook,
    aside .fb-recommendations {
      text-align: left;
      vertical-align: top;
      display: inline-block;
      margin-top: 0 !important;
      margin-bottom: 1.75em !important;
      margin-left: 0.5em !important;
      margin-right: 0.5em !important;
    }
    .has-aside + aside .ad,
    aside .promotion,
    aside section.facebook,
    aside .fb-recommendations {
      width: 18.75em;
      -moz-box-sizing : border-box;
      box-sizing      : border-box;
    }
  }


  /* Switch between ads in a set, based on width
  ----------------------------------------------- */

  /* Show thin ads by default */
  .w468.h60,
  .w728.h90 {
    display: none;
  }
  .w300.h50 {
    display: block;
  }

  @media (min-width: 468px) { /* 468px */
    .w300.h50,
    .w728.h90 {
      display: none;
    }
    .w468.h60 {
      display: block;
    }
  }

  @media (min-width: 728px) { /* 728px */
    .w300.h50,
    .w468.h60 {
      display: none;
    }
    .w728.h90 {
      display: block;
    }
  }


  /* Switch between ads in a set, based on height
  ----------------------------------------------- */

  /* Show short ads by default */
  .w300.h600 {
    display: none;
  }
  .w300.h250 {
    display: block;
  }

  @media (min-height: 600px) { /* 600px */
    .w300.h600 + .w300.h250 {
      display: none;
    }
    .w300.h600 {
      display: block;
    }
  }


  /* Switch between ads in the content area and the aside, depending on screen width
  ----------------------------------------------- */

  .has-aside .s1,
  .has-aside .s2,
  .has-aside .s3 {
    display: block;
  }
  .has-aside + aside {
    display: none;
  }

  .has-aside .ads.has-multiple .ad + .ad {
    display: none;
  }

  @media (min-width: 40em) {
    .has-aside .ads.has-multiple .ad + .ad {
      display: inline-block;
    }
  }

  @media (min-width: 66.5625em) { /* @max-page-width */
    .has-aside + aside {
      display: block;
    }
    .has-aside .s1,
    .has-aside .s2,
    .has-aside .s3 {
      display: none;
    }
    .has-aside + aside .s1,
    .has-aside + aside .s2,
    .has-aside + aside .s3  {
      display: block;
    }
  }
