
/*-----------------------------------------------
    DO Styles
  ----------------------------------------------- */


/* =Header
  ----------------------------------------------- */
  .do-header {
    margin-top: 0;
    margin-bottom: 0;
  }
  .do-header > .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 66.5625em; /* @max-page-width */
    margin-left: auto;
    margin-right: auto;
  }
  .do-header > .container > div {
    border-width: 0.1em;
    border-style: solid;
    border-color: rgb(218, 220, 224);
    padding: 1em;
    background: white;
  }
  .do-header > .container > div h1 {
    margin-top: 0.2916666667em; /* line-height / 4 */
    margin-bottom: 0;
  }
  .do-header h2.do {
    font-family: "Trade Gothic Bold Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    text-transform: uppercase;
    font-size: 1em;
    background: black;
    color: white;
    border-radius: 100%;
    width: 2.25em;
    line-height: 2.25em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
  }
  .do-header .sponsor {
    display: inline;
    margin-right: 0.4375em;
  }
  .do-header .sponsor img {
    vertical-align: middle;
  }
  .do-header .tags {
    font-size: 0.875em;
    margin-bottom: 0;
    font-family: "Trade Gothic Bold Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    text-transform: uppercase;
    display: inline;
  }
  .do-header .tags,
  .do-header .tags li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: inline;
  }
  .do-header .tags a {
    color: inherit;
    text-decoration: none;
    border: 0.1em solid;
    padding: 0.21875em 0.875em;
  }
  .do-header .tags a:hover,
  .do-header .tags a:active,
  .do-header .tags a:focus {
    color: rgb(47, 132, 218); /* @ocean */
  }
  .do-header h1 {
    font-family: inherit;
    font-weight: bold;
  }
  .do-header form.do,
  .do-header form.doing,
  .do-header form.done {
    font-size: 0.875em;
  }
  @media (min-width: 40em) {
    .do-header > .container {
      position: relative;
    }
    .do-header > .container > div {
      padding-right: 8.75em;
    }
    .do-header form.do,
    .do-header form.doing,
    .do-header form.done {
      position: absolute;
      margin-top: 0;
      top: 1.3125em;
      right: 3em;
    }

    .do-header .share {
      position: absolute;
      margin-bottom: 0;
      bottom: 1.3125em;
      right: 3em;
      font-size: 0.75em;
    }
  }


/* =Story Header
  ----------------------------------------------- */
  .do-story-header {
    margin-bottom: 0;
  }
  .do-story-header > .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 66.5625em; /* @max-page-width */
    margin-left: auto;
    margin-right: auto;
  }
  .do-story-header > .container > div {
    border-width: 0.1em;
    border-style: solid;
    border-color: rgb(233, 233, 233);
    padding: 0.875em 1.4375em 1.1875em;
    background: white;
    position: relative;
  }
  .do-story-header > .container > div:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .do-story-header > .container > div:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.3125em solid rgb(62, 197, 149); /* @fern */ /* 5px / 16px */
  }
  .do-story-header > .container > div h1,
  .do-story-header > .container > div h1 + p {
    display: inline-block;
  }
  .do-story-header > .container > div h1 {
    margin-top: 0;
    font-size: inherit;
    line-height: 1;
    margin-right: 0.5em;
    border-right: 0.1em solid rgb(204, 204, 204);
    padding-right: 0.875em;
  }
  .do-story-header > .container > div h1 + p {
    color: rgb(102, 102, 102);
    font-size: 0.75em;
    font-family: "Brandon Grotesque Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon */
    text-transform: uppercase;
    vertical-align: middle;
  }
  .do-story-header h2.do {
    font-family: "Trade Gothic Bold Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    text-transform: uppercase;
    font-size: 0.875em;
    background: black;
    color: white;
    border-radius: 100%;
    width: 2.25em;
    line-height: 2.25em;
    text-align: center;
    display: inline-block;
    margin: 0 0.5em 0 0;
  }
  .do-story-header h1 {
    font-family: inherit;
    font-weight: bold;
    display: inline;
  }
  .do-story-header ul,
  .do-story-header li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .do-story-header ul {
    font-size: 0.75em;
  }
  @media (min-width: 40em) {
    .do-story-header ul {
      margin-top: 0.875em;
      display: inline;
      float: right;
    }
  }
  .do-story-header li {
    display: inline;
    margin-right: 0.5em;
    border-right: 0.1em solid rgb(204, 204, 204);
    padding-right: 0.875em;
  }
  .do-story-header li:last-child {
    margin-right: 0;
    border-right-width: 0;
    padding-right: 0;
  }
  .do-story-header li a {
    text-decoration: none;
  }


/* =Story Navigation
  ----------------------------------------------- */
  .do-story-nav {
    background: none;
    border-top-width: 0;
  }
  .do-story-nav ul,
  .do-story-nav li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .do-story-nav a {
    position: absolute;
    z-index: 1;
    top: 0;
    display: block;
    height: 100%;
    width: 10%;
    background-repeat: no-repeat;
    background-position: center;

    /* @hidden-accessible-text */
    text-indent: -9999px;
    overflow: hidden;
  }
  .do-story-nav .next a {
    right: 0;
    background-image: url(slideshow/next.png);
    background-image: url(slideshow/next.svg), none;
  }
  .do-story-nav .previous a {
    left: 0;
    background-image: url(slideshow/previous.png);
    background-image: url(slideshow/previous.svg), none;
  }

  @media (max-width: 29.9em) {
    .do-story-nav a {
      background-size: 90% auto;
    }
  }


/* =New
  ----------------------------------------------- */
  .do-new {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .do-new header {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(225, 225, 225);
  }
  .do-new h1 {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .do-new form label > span {
    font-size: inherit;
  }
  .do-new label span em {
    font-size: 0.75em;
    font-style: normal;
    color: rgb(102, 102, 102);
    margin-left: 0.4375em;
  }
  .do-new .text input,
  .do-new .text textarea {
    max-width: 35em;
  }
  .do-new .text input[name*="title"] {
    font-weight: bold;
  }

  .do-new > form > .text ::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(204, 204, 204);
    font-weight: normal;
  }
  .do-new > form > .text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(204, 204, 204);
    font-weight: normal;
  }
  .do-new > form > .text::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(204, 204, 204);
    font-weight: normal;
  }
  .do-new > form > .text:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(204, 204, 204);
    font-weight: normal;
  }

  .do-new .mark-done {
    border: 0.1em solid rgb(203, 203, 203);
    background: rgb(249, 249, 250);
    padding: 0.75em 0;
    border-radius: 0.25em;
  }
  .do-new .mark-done > .checkbox {
    padding-left: 0.875em;
    padding-right: 0.875em;
    font-weight: bold;
  }

  .do-new .details.active   label span,
  .do-new .details.inactive label span {
    color: rgb(62, 197, 149); /* @fern */
    font-weight: bold;
    position: relative;
  }
  .do-new .details.inactive label span {
    cursor: pointer;
  }
  .do-new .details.active   label span em,
  .do-new .details.inactive label span em {
    font-weight: normal;
  }

  .do-new .details.active   label span:before,
  .do-new .details.inactive label span:before {

    /* @icons */
    font-family: "Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e600"; /* @icon-corner */

    font-size: 0.5em;
    display: inline-block;
    margin-right: 1em;
    -webkit-transform : translateX(-0.5em) rotate(45deg);
    -moz-transform    : translateX(-0.5em) rotate(45deg);
    -o-transform      : translateX(-0.5em) rotate(45deg);
    transform         : translateX(-0.5em) rotate(45deg);
  }
  .do-new .details.active   label span:before {
    -webkit-transform : translateY(-0.5em) rotate(135deg);
    -moz-transform    : translateY(-0.5em) rotate(135deg);
    -o-transform      : translateY(-0.5em) rotate(135deg);
    transform         : translateY(-0.5em) rotate(135deg);
  }
  .do-new .details.inactive textarea {
    position: absolute;
    left: -9999px;
  }

  .do-new .details.active,
  .do-new .details.inactive {
    margin-bottom: 1.3125em;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding-bottom: 0.875em;
  }
  .do-new .details.active {
    padding-bottom: 0.5em;
  }

  .do-new .mark-done > .checkbox.checked label:before {
    /* @icons */
    font-family: "Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: rgb(62, 197, 149); /* @fern */
    content: "\e606"; /* @icon-approve */
    color: white;
    border-radius: 100%;
    padding: 0.5em;
    font-size: 0.675em;
    margin-right: 0.5em;
  }
  .do-new .mark-done > .checkbox.checked input {
    position: absolute;
    left: -9999px;
  }
  .do-new .mark-done .do-story {
    margin-top: 1.3125em;
    margin-bottom: -0.75em;
  }


  /* =Tip
  ----------------------------------------------- */
  .tip .container {
    padding: 1.375em; /* @line-height x 3 / 2 */
    background: rgb(255, 252, 231);
    border: 0.1875em solid rgb(243, 239, 209);
    border-radius: 0.5em;
    position: relative;
  }
  .tip .container:before {
    content: "";
    display: block;
    background: rgb(255, 252, 231);
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: -0.75em;
    border-width: 0 0 0.1875em 0.1875em;
    border-style: solid;
    border-color: rgb(243, 239, 209);

    -webkit-transform : rotate(135deg);
    -moz-transform    : rotate(135deg);
    -o-transform      : rotate(135deg);
    transform         : rotate(135deg);
  }
  .tip:before {
    content: "i";
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, Times, "Times New Roman", serif;
    background: rgb(204, 204, 204);
    border-radius: 100%;
    color: white;
    display: inline-block;
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
  }
  .tip:before {
    position: absolute;
    top: 0;
    right: 1em;
  }

  @media (min-width: 65em) {
    .tip {
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
    .tip .container {
      position: absolute;
      top: -1em;
      width: 11em;
      right: -15em;
    }
    .tip .container:before {
      top: 1em;
      right: auto;
      left: -0.75em;
      -webkit-transform : rotate(45deg);
      -moz-transform    : rotate(45deg);
      -o-transform      : rotate(45deg);
      transform         : rotate(45deg);
    }
    .tip:before {
      margin-right: 0.5em;
      right: 0;
    }
  }
  .tip h2 {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
  }
  .tip p {
    font-size: 0.875em;
    color: rgb(102, 102, 102);
    line-height: 1.3;
  }

  /* OPTIONAL: Hide the tip if it’s inactive */
  .tip {
    cursor: pointer;
  }
  .tip.inactive .container {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }


/* =Sub Nav
  ----------------------------------------------- */
  .do-sub-nav {
    /* Reset */
    background-color: transparent;
    border-top-width: 0;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 66.5625em; /* @max-page-width */
    margin-left: auto;
    margin-right: auto;
  }
  .do-sub-nav > .container {
    background: white;
    border-width: 0 0.1em 0 0;
    border-style: solid;
    border-color: rgb(218, 220, 224);
  }
  .do-sub-nav ul,
  .do-sub-nav li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .do-sub-nav ul,
  .do-sub-nav li {
    display: inline;
  }
  .do-sub-nav ul.share {
    margin: 0;
    float: right;
  }
  .do-sub-nav li a {
    font-size: 0.875em;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    text-transform: lowercase;
    padding: 0.5em 1em;
    color: rgb(153, 153, 153);
    border-top: 1px solid transparent;
    margin-top: -1px;
    position: relative;
    z-index: 1;
  }
  .do-sub-nav li.story a:before {

    /* @icons */
    font-family: "Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* @icon-launch */
    content: "\e612";

    font-size: 1.25em;
    line-height: 1;
    margin-right: 0.4375em;
    vertical-align: middle;
  }
  .do-sub-nav li.active a {
    background: rgb(62, 197, 149); /* @fern */
    color: white;
    border-top-color: rgb(62, 197, 149); /* @fern */
  }
  .do-details h2,
  .do-sub-nav + .do-story h2 {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  .do-details h2 + p {
    margin-top: 0;
  }

  .do-sub-nav .details a:before {
    content: "i";
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, Times, "Times New Roman", serif;
    border: 0.1em solid rgb(204, 204, 204);
    border-radius: 100%;
    color: rgb(204, 204, 204);
    display: inline-block;
    width: 1.4em;
    line-height: 1.4em;
    text-align: center;
    margin-right: 0.4375em;
  }


/* =Story
  ----------------------------------------------- */
  .do-details,
  .do-header ~ .do-story {
    margin-top: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 66.5625em; /* @max-page-width */
    margin-left: auto;
    margin-right: auto;
  }

  .do-details {
    margin-top: -0.0625em;
    position: relative;
    z-index: 1;
  }
  .do-story   > .container,
  .do-details > .container {
    position: relative;
    background: rgb(62, 197, 149); /* @fern */
    padding: 0.875em;
    border-radius: 0.25em;
    -webkit-border-top-right-radius : 0;
    -webkit-border-top-left-radius  : 0;
       -moz-border-radius-topright  : 0;
       -moz-border-radius-topleft   : 0;
            border-top-right-radius : 0;
            border-top-left-radius  : 0;
  }
  .do-story   > .container form,
  .do-details > .container > div {
    margin-top: 0;
    position: relative;
  }
  .do-details > .container > div {
    background: rgb(168, 237, 213);
    border-radius: 0.25em;
    padding: 1.75em;
  }

  .do-story > .container  form:before,
  .do-story > .container > div:before {
    content: "";
    display: block;
    background: white;
    width: 1em;
    height: 1em;
    position: absolute;
    top: -0.5em;
    right: 2.75em;

    -webkit-transform : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -o-transform      : rotate(45deg);
    transform         : rotate(45deg);
    right: auto;
    left: 4.375em;
  }
  .mark-done .do-story > .container form:before {
    content: none;
  }
  .mark-done .do-story > .container:before {
    content: "";
    display: block;
    background: rgb(62, 197, 149); /* @fern */
    width: 1em;
    height: 1em;
    position: absolute;
    top: -0.5em;
    right: 2.75em;

    -webkit-transform : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -o-transform      : rotate(45deg);
    transform         : rotate(45deg);
    right: auto;
    left: 1em;
  }

  .do-story h2 {
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
  }
  .do-story h2 + p {
    color: white;
    margin-left: 0.4375em;
    text-transform: lowercase;
    font-size: 0.75em;
  }
  .do-story h2 + p:before {
    content: "(";
  }
  .do-story h2 + p:after {
    content: ")";
  }
  .do-story h2,
  .do-story h2 + p {
    display: inline;
  }

  .do-story button {
    font-size: 0.875em; /* 14px / @font-size */
  }

  .do-story form     .container,
  .do-story fieldset .container {
    border-radius: 0.25em;
    position: relative;
    background: white;
  }
  .do-story fieldset {
    margin-top: 0.875em;
    padding-top: 0;
    border-top-width: 0;
  }
  .do-story .avatar {
    position: absolute;
    top: 0.625em; /* 10px / 16px */
    left: 0.625em;
    margin: 0;
    line-height: 1;
  }
  .do-story .text {
    margin-top: 0;
    margin-bottom: 0;
  }
  .do-story .text label {
    display: block;
    padding-bottom: 0;
    border-width: 0;
  }

  /* Make space for the user’s avatar. (It will be present if they’re signed in.) */
  .do-story .avatar + .text label {
    border-width: 0 0 0 0.1em;
    border-style: dotted;
    border-color: rgb(238, 238, 238);
    margin-left: 3.125em; /* 50px / 16px*/
  }

  .do-story .text textarea {
    border-width: 0;
    background: transparent;
    max-width: 100%;
    height: 10.5em;
    padding: 0.875em; /* @line-height / 2 */
    line-height: 1.375;
  }

  /* TBD: Show the notes and error messages in a consistent location and simplify these selectors? */
  .do-story form .container > .note,
  .do-story form .container > .error-message,
  .do-story form .images,
  .do-story form .file,
  .do-story fieldset .container > .note,
  .do-story fieldset .container > .error-message,
  .do-story fieldset .images,
  .do-story fieldset .file {
    border-top: 0.1em solid rgb(218, 220, 224); /* @blue-gray */
    margin: 0;
    padding: 0.625em; /* 10px / 16px */
  }

  .do-story .images {
    background: rgb(249, 249, 249);
  }
  .do-story .images li {
    display: block;
    position: relative;
    background: white;
    border: 0.1em solid rgb(204, 204, 204); /* @magnesium */
    border-radius: 0.25em;
    max-width: 40em;
    font-size: 0.75em; /* 12px / 16px */
    line-height: 2.5em; /* 30px / 12px */
    color: rgb(101, 102, 102); /* @steel */
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
  }
  .do-story .images li + li {
    margin-top: 0.625em; /* 10px / 16px */
  }
  .do-story .images li img {
    margin-right: 0.625em; /* 10px / 16px */
    height: 2.5em; /* 30px / 12px */
    width: auto;
    float: left;
    border-top-left-radius    : 0.25em;
    border-bottom-left-radius : 0.25em;
  }
  .do-story .images button {
    background: rgb(153, 153, 153); /* @aluminum */
    float: right;

    /* These values are arbitrary. They happen to make the button appear
    centered within the item, and the “X” appear centered within the button.*/
    padding: 0.2em 0.5em;
    margin: 0.35em;
  }
  .do-story .images button:hover,
  .do-story .images button:active,
  .do-story .images button:focus {
    background: rgb(101, 102, 102); /* @steel */
  }
  .do-story .images button span {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  .do-story .images button:after {

    /* @icons */
    font-family: "Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e60a"; /* @icon-delete */
  }
  .do-story form     .container:after,
  .do-story fieldset .container:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .do-story .file {
    text-align: right;
  }
  .do-story .file label {
    display: inline-block;
    max-width: 33em;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
    position: relative;
    cursor: pointer;
    transition: opacity 0.2s, border-color 0.2s;
  }
  .do-story .file label br {
    display: none;
  }
  .do-story .file label:before {
    background: transparent url(shared/comment/picture.svg) no-repeat center;
    background-size: 1.25em auto;
    content: "";
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    opacity: 0.25;
    transition: opacity 0.2s, border-color 0.2s;
    padding: 0.328125em;
    border: 0.1em solid rgb(153, 153, 153); /* @aluminum */
    line-height: 1;
    border-radius: 0.25em;
    border-color: transparent;
  }
  .do-story .file label:hover:before {
    opacity: 1;
    border-color: rgb(153, 153, 153);
  }
  .do-story .file label > span:first-child {
    font-size: 0.75em;
    position: absolute;
    background: rgb(51, 51, 51); /* @tungsten */
    color: rgb(253, 253, 253);
    bottom: 0;
    margin-bottom: 4em;
    margin-left: -4em;
    width: 8em;
    text-align: center;
    padding: 0.4375em 0;
    left: -9999px;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .do-story .file label > span:first-child:before {
    content: "";
    display: block;
    background: rgb(51, 51, 51); /* @tungsten */
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: -0.5em;
    margin-left: -0.5em;
    width: 1em;
    height: 1em;

    -webkit-transform : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -o-transform      : rotate(45deg);
    transform         : rotate(45deg);
  }
  .do-story .file label:hover  > span:first-child {
    left: 50%;
    opacity: 1;
  }
  .do-story .file label + .error-message {
    margin-top: 0.4375em;
  }
  .do-story .file label > span:first-child {
    margin-right: 0.4375em;
  }
  .do-story .file input {
    position: absolute;
    left: -9999px;
  }
  .do-story .file input:focus {
    position: static;
    left: auto;
  }
  .do-story .submit {
    margin-bottom: 1.75em; /* @line-height */
  }

  .supports-placeholder .do-story .text label > span:first-child {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  .supports-placeholder .do-story .text label br {
    display: none;
  }

  .do-story .file.disabled label {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  .do-story .file.disabled br {
    display: none;
  }
  .do-story .file.disabled label:hover > span:first-child {
    opacity: 0;
  }

  /* TBD: Show the notes and error messages in a consistent location and simplify these selectors? */
  .do-story form .container > p.error-message span,
  .do-story form .container > p.note span,
  .do-story form .file .error-message,
  .do-story form .file .note
  .do-story fieldset .container > p.error-message span,
  .do-story fieldset .container > p.note span,
  .do-story fieldset .file .error-message,
  .do-story fieldset .file .note {
    display: block;
    margin-top: 0;
    border: 0.1em solid rgb(204, 204, 204); /* @magnesium */
    border-radius: 0.25em;
    padding: 0.4375em;
    text-align: center;
  }
  .do-story form .container > p.error-message span,
  .do-story form .file .error-message,
  .do-story fieldset .container > p.error-message span,
  .do-story fieldset .file .error-message {
    background: rgb(253, 235, 230);
    border-color: rgb(251, 204, 204);
  }
  .do-story form .container > p.note span,
  .do-story form .file .note,
  .do-story fieldset .container > p.note span,
  .do-story fieldset .file .note {
    background-color: rgb(255, 255, 204);
    font-style: normal;
    color: rgb(51, 51, 51); /* @tungsten */
  }

  .do-story .message {
    margin-top: 0.875em;
  }

  .do-new   .submit button {
    background-color: rgb(239, 239, 239);
    color: rgb(101, 102, 102); /* @steel */
  }
  .do-new   .submit button:hover,
  .do-new   .submit button:active,
  .do-new   .submit button:focus {
    background: rgb(250, 250, 250);
    color: rgb(42, 43, 44);
  }

  .do-story .submit button {
    background-color: rgb(239, 239, 239);
    background-color: rgba(255, 255, 255, 0.85);
    color: rgb(101, 102, 102); /* @steel */
    border-color: transparent;
  }
  .do-story .submit button:hover,
  .do-story .submit button:active,
  .do-story .submit button:focus {
    background: rgb(250, 250, 250);
    color: rgb(42, 43, 44);
  }

  .do-story .submit {
    margin-top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding-top: 1.3125em;
    margin-bottom: 0.4375em;
  }
  .do-new .submit {
    margin-top: 1.3125em;
    border-top: 1px solid rgb(225, 225, 225);
    padding-top: 1.3125em;
  }
  .do-new .submit button {
    font-size: 0.875em;
  }
  .do-new .submit a {
    color: rgb(153, 153, 153);
    float: right;
    margin-right: 0.4375em;
  }
  .do-story .submit a {
    color: white;
    float: right;
    margin-right: 0.4375em;
  }
  .do-story .checkbox {
    color: white;
  }

  /* OPTIONAL: Make the comments form that appears at the
  top look more compact, if it hasn’t been interacted with. */
  @media (min-width: 40em) {
    .do-story .inactive .text textarea {
      height: 3.125em; /* 50px / 16px  */
      resize: none; /* Prevent the resize handle from overlapping with the upload button. */
    }
    .do-story .inactive p.text + .file {
      float: right;
      border-top-width: 0;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
      margin: -2.6em 0 0 0;
    }
  }

  .do-story .inactive .checkbox,
  .do-story .inactive .submit {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }


/* =Comments
  ----------------------------------------------- */
  .do-comments .share {
    margin-top: 0;
    font-size: 0.75em;
  }
  .do-comments h1 {
    font-size: 0.875em;
    font-variant: small-caps;
    text-transform: uppercase;
    font-family: "Brandon Grotesque Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon */
  }
  .do-comments h1:before {

    /* @icons */
    font-family: "Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;


    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* @icon-launch */
    content: "\e612";

    font-size: 1.25em;
    line-height: 1;
    margin-right: 0.4375em;
    vertical-align: middle;
  }
  section.comments,
  .do-comments,
  .do-comments header {
    padding-bottom: 0.875em;
    border-bottom: 0.1em solid rgb(233, 233, 233);
  }
  section.comments:after,
  .do-comments:after {
    content: "DO";
    font-family: "Trade Gothic Bold Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    text-transform: uppercase;
    font-size: 0.875em;
    background: rgb(204, 204, 204);
    color: white;
    border-radius: 100%;
    width: 2.25em;
    line-height: 2.25em;
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1.25em;
  }
  .do-story-header ~ .do-comments:after {
    content: none;
  }
  .do-story-header ~ .do-comments {
    border-bottom-width: 0;
    padding-bottom: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 45em;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .do-story-header ~ .do-comments .comment-list {
    margin-top: 0;
  }
  .do-story-header ~ .do-comments .comment-list article {
    margin: 1.75em 0 0 0;
  }
  .do-story-header ~ .do-comments .comment-list article:before {
    content: "";
    display: block;
    background: white;
    width: 2em;
    height: 2em;
    position: absolute;
    top: -1.125em;
    left: 50%;
    margin-left: -1em;
    border-width: 0.125em 0 0 0.125em;
    border-style: solid;
    border-color: rgb(246, 246, 246);

    -webkit-transform : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -o-transform      : rotate(45deg);
    transform         : rotate(45deg);
  }
  .do-comments h1,
  .do-comments h1 + p {
    display: inline;
  }
  .do-comments h1 + p {
    margin-left: 0.4375em;
    font-size: 0.875em;
    color: rgb(153, 153, 153);
  }
  .do-comments h1 + p:before {
    content: "(";
  }
  .do-comments h1 + p:after {
    content: ")";
  }

  /* Article */
  .do-comments .comment-list article {
    border: 0.125em solid rgb(246, 246, 246);
    border-radius: 0.25em;
  }
  .do-comments .comment-list article {
    margin: 0.875em 0;
  }
  @media (min-width: 40em) {
    .do-comments .comment-list article {
      margin: 0.875em 2.625em;
    }
  }
  .do-comments .comment-list article > h3 {
    color: rgb(102, 102, 102);
    line-height: 1.2;
  }
  .do-comments .comment-list article > h3 + p {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 0.1em solid rgb(246, 246, 246);
  }
  .do-comments .comment-list article > p + figure {
    margin-top: 0.875em;
    padding-top: 0.875em;
    border-top: 0.1em solid rgb(246, 246, 246);
  }
  .do-comments .comment-list article > h3 a img {
    float: none;
    vertical-align: middle;
  }
  .do-comments .comment-list article > h3 a {
    font-size: 1.3333333333em;
    color: black;
    font-weight: bold;
  }
  .do-comments .comment-list article > h3 a:hover,
  .do-comments .comment-list article > h3 a:active,
  .do-comments .comment-list article > h3 a:focus {
    color: rgb(47, 132, 218); /* @ocean */
  }
  .do-comments .comment-list li article {
    padding: 1.25em;
    background: white;
  }
  .do-comments .comment-list article > h3 img,
  .do-comments .comment-list article > h3 .avatar {
    margin-left: 0;
  }


/* =Story Comments
  ----------------------------------------------- */
  .comment-list .options,
  footer.options {
    text-align: left;
  }
  .comment-list .options .reply,
  footer.options p {
    float: none;
    margin: 0;
  }


/* =Message
  ----------------------------------------------- */
  /*
  .message .share {
    display: inline;
    margin-left: 1.75em;
  }
  */

  section.message.success {
    padding: 1em 1.5em;
    margin-bottom: 0;
  }

  section.message .share {
    margin-bottom: 0;
  }

  @media (min-width: 48em) {
    section.message .share {
      display: inline;
      margin-left: 1em;
    }
  }

  section.message h1,
  section.message p,
  section.message li {
    font-size: 0.875em;
  }

  #content,
  #header ~ #content {
    margin-top: 0;
    border-top: 0.1em solid rgb(233, 233, 233);
    padding-top: 1.75em;
    padding-bottom: 3.5em;
  }

  body > section.message,
  section.message {
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 66.5625em; /* @max-page-width */
    margin-left: auto;
    margin-right: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* OPTIONAL: If there’s enough space, position the close button in the top-right corner. */
  @media (min-width: 30em) {
    body > section.message,
    section.message {
      padding-right: 8.75em;
    }
    body > section.message .close,
    section.message .close {
      position: absolute;
      top: 1.375em;
      right: 1.5em;
      margin: 0;
    }
    body > section.message .close span,
    section.message .close span {
      position: absolute;
      left: -9999px;
    }
  }
  @media (min-width: 30em) {
    body > section.message, section.message {
      padding-right: 5em;
    }
  }


/* =Share
  ----------------------------------------------- */
  .share,
  .share li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .share li {
    display: inline;
    margin-right: 1em;
  }
  .share a {
    text-decoration: none;
    text-transform: lowercase;
    font-weight: bold;
  }
  .share a:hover,
  .share a:active,
  .share a:focus {
    color: rgb(178, 158, 31);
  }

  .share .facebook a {
    color: rgb(58, 88, 151) !important;
  }
  .share .twitter a {
    color: rgb(40, 170, 225) !important;
  }
  .share .facebook  a:before,
  .share .twitter   a:before {
    /* @icons */
    font-family: "Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-right: 0.4375em;
  }
  .share .facebook  a:before {
    content: "\e60d"; /* @icon-facebook */
  }
  .share .twitter   a:before {
    content: "\e60f"; /* @icon-twitter */
  }

  .share .facebook a:before {

    background: rgb(59, 89, 152); /* @blueberry */
    border-radius: 0.15em;
    padding: 0.25em 0 0 0.25em;

    content: "\e60d"; /* @icon-facebook */
    color: white;

  }
  .meta .vote button,
  .meta .voted button {
    color: inherit;
  }
  .meta .share a {
    border: 0.1em solid rgb(244, 244, 244);
    border-radius: 0.25em;
    background: rgb(253, 253, 253);
    padding: 0.4375em 1em;
    display: inline-block;
  }
  .meta .share li {
    margin-right: 0;
  }


/* =Comment Footer
  ----------------------------------------------- */
  footer.meta {
    margin-top: 1.75em;
    padding-top: 0.875em;
    border-top: 0.1em solid rgb(246, 246, 246);
  }
  footer.meta:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  footer.meta form,
  footer.meta p {
    margin-top: 0;
    display: inline;
  }
  footer.meta p a {
    vertical-align: middle;
  }
  @media (min-width: 40em) {
    footer.meta ul {
      display: inline;
      float: right;
    }
  }
  footer.meta .dos,
  footer.meta .votes,
  footer.meta .comments {
    display: inline-block;
    margin-bottom: 0.375em;
  }
  footer.meta .dos      a,
  footer.meta .votes    a,
  footer.meta .comments a {
    color: inherit;
    border: 0.1em solid rgb(244, 244, 244);
    border-radius: 0.25em;
    background: rgb(253, 253, 253);
    padding: 0.75em 1em 0.7em;
    display: inline-block;
  }
  footer.meta a:hover,
  footer.meta a:active,
  footer.meta a:focus {
    color: rgb(47, 132, 218); /* @ocean */
  }

