
/*-----------------------------------------------
    Story Styles
  ----------------------------------------------- */


/* =Message
  ----------------------------------------------- */

  /* SHIM: The story page is wrapped in a “div” element, to make scripting easier. */
  body       > .message.success,
  body > div > .message.success {
    max-width: none;
    margin-bottom: 0;
  }
  @media (min-width: 65em) and (min-height: 50em) {
    body       > .message.success,
    body > div > .message.success {
      text-align: left;
      max-width: 71em;
      margin-bottom: 2.25em;
    }
    body       > .join-promotion,
    body > div > .join-promotion {
      border-top-width: 0;
      margin-top: -2.25em;
      margin-bottom: 2.25em;
    }
  }


/* =Share
  ----------------------------------------------- */
  .share,
  .share li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .share li {
    display: inline;
    margin-right: 1em;
  }
  .share a {
    text-decoration: none;
    text-transform: lowercase;
    font-weight: bold;
  }
  .share a:hover,
  .share a:active,
  .share a:focus {
    color: rgb(178, 158, 31);
  }

  .share .facebook a {
    color: rgb(58, 88, 151) !important;
  }
  .share .twitter a {
    color: rgb(40, 170, 225) !important;
  }
  .share .facebook  a:before,
  .share .twitter   a:before {
    /* @icons */
    font-family: "Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-right: 0.4375em;
  }
  .share .facebook  a:before {
    content: "\e60d"; /* @icon-facebook */
  }
  .share .twitter   a:before {
    content: "\e60f"; /* @icon-twitter */
  }

  .share .facebook a:before {

    background: rgb(59, 89, 152); /* @plumb */
    border-radius: 0.15em;
    padding: 0.25em 0 0 0.25em;

    content: "\e60d"; /* @icon-facebook */
    color: white;

  }


/* =Header
  ----------------------------------------------- */
  .story-header {
    margin-top: 0;
    padding: 1em 1.5em;
    background: white;
    border-bottom: 0.1em solid rgb(224, 224, 224);
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
    margin-bottom: 0;
    position: relative;
  }
  .story-header + .join-promotion {
    border-top-width: 0;
  }
  @media (min-width: 65em) {
    .story-header {
      padding-left: 2.25em;
      padding-right: 2.25em;
      margin-bottom: 2.25em;
    }
    .story-header + .join-promotion {
      margin-top: -2.25em;
      margin-bottom: 2.25em;
    }
  }
  @media (min-width: 65em) and (min-height: 50em) {
    body {
      padding-top: 6.5625em; /* header.height (69px) / @font-size (16px) + margin (2.25em) */
    }
    .story-header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
    .join-promotion {
      border-top-width: 0;
      margin-top: -2.25em;
      margin-bottom: 2.25em;
    }
  }

  .story-header h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
    font-size: 2.625em; /* 42px / @font-size */
    letter-spacing: 0.0125em;
    line-height: 1;
    font-family: "GOOD", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @good */
  }
  .story-header h3 a {
    text-decoration: none;
    color: rgb(0, 1, 2); /* @midnight */
  }
  .story-header h3 a:hover,
  .story-header h3 a:active,
  .story-header h3 a:focus {
    color: rgb(56, 60, 61); /* @thorium */
  }

  .story-header h2 {
    font-family: "Trade Gothic Bold Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    text-transform: uppercase;
    font-size: 1em;
    background: black;
    color: white;
    border-radius: 100%;
    width: 2.25em;
    line-height: 2.25em;
    text-align: center;
    margin: 0;
    float: left;
  }
  .story-header > a {
    color: inherit;
    text-decoration: none;
  }
  .story-header > a:hover,
  .story-header > a:active,
  .story-header > a:focus {
    color: rgb(47, 132, 218); /* @ocean */
  }
  .story-header h1 {
    font-family: inherit;
    font-size: 1.125em; /* 18px / @font-size */
    line-height: 1.5555555556; /* @line-height / 1.125em */
    font-weight: bold;
    margin-top: 0;

    /* This number is arbitrary, but happens to be about the width of the story author’s image */
    margin-left: 2.8em;
  }
  @media (min-width: 65em) {
    .story-header h3 {
      margin-top: -0.119047619em;
      margin-bottom: -0.119047619em;
      display: inline-block;
      vertical-align: middle;
    }
    .story-header h2 {
      float: none;
      display: inline-block;
      margin-right: 0.875em;
    }
    .story-header h1 {
      display: inline;
      margin-left: 0;
    }
  }
  .story-header h1 a {
    color: inherit;
    text-decoration: none;
  }
  .story-header h1 a:hover,
  .story-header h1 a:active,
  .story-header h1 a:focus {
    color: rgb(47, 132, 218); /* @ocean */
  }
  .story-header p,
  .story-header .share {
    display: inline;
    margin-left: 1.75em;
  }
  .story-header .share {
    margin-left: 2.75em;
  }
  @media (min-width: 60em) {
    .story-header nav {
      margin: 0;
      display: inline;
    }
  }
  .story-header nav   a,
  .story-header .back a {
    text-decoration: none;
  }
  .story-header .back a {
    color: rgb(153, 153, 153);
    padding: 0.35em 0.7em;
    display: inline-block;
  }
  .story-header .back a:hover,
  .story-header .back a:active,
  .story-header .back a:focus {
    color: rgb(47, 132, 218); /* @ocean */
  }
  .story-header .back a:after {
    /* @icons */
    font-family: "Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e60a"; /* @icon-delete */
  }
  .story-header .back a span {
    position: absolute;
    left: -9999px;
  }
  .story-header nav ul,
  .story-header nav li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: inline;
  }
  @media (min-width: 60em) {
    .story-header nav ul {
      margin-left: 3em;
    }
  }
  .story-header nav li + li {
    margin-left: 0.75em;
    padding-left: 0.875em;
    border-left: 0.1em solid rgb(204, 204, 204);
  }
  .story-header nav li {
    font-weight: bold;
    font-size: 0.875em;
  }
  .story-header nav a {
    color: rgb(64, 198, 149); /* @clover */
  }
  .story-header form.do,
  .story-header form.doing,
  .story-header form.done {
    margin: 0;
    font-size: 0.875em;
    position: absolute;
    top: 1em;
    right: 6.25em;
  }
  .story-header .back {
    position: absolute;
    top: 0;
    right: 1.3125em;
  }


/* =Story
  ----------------------------------------------- */
  .story > article {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }
  .story > article {
    padding: 1.5em;
  }
  .story > article {
    background: white;
  }
  .story > article .body {
    margin-top: 1.75em;
  }


/* =Member
  ----------------------------------------------- */
  .member {
    border-width: 0 0 0.1em 0;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    padding-bottom: 0.875em;
    margin-bottom: 0.875em;
  }
  .member h3 {
    margin: 0;
    display: inline-block;
    margin-right: 1.5em;
    font-family: inherit;
    font-size: inherit;
  }
  .member h3 a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }
  .member h3 a:hover,
  .member h3 a:active,
  .member h3 a:focus {
    color: rgb(47, 132, 218); /* @ocean */
  }
  .member h3 img,
  .member h3 .avatar {
    vertical-align: middle;
  }
  .member h3 > a > span:last-child {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 1em;
  }
  .member time {
    margin-top: 1.75em;
    display: block;
    font-size: 0.875em;
    color: rgb(153, 153, 153);
  }
  .member .comment {
    display: inline;
    margin-right: 1.75em;
  }
  .member .comment a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  .member .comment a:before {

    /* @icons */
    font-family: "Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: inline-block;
    vertical-align: middle;

    content: "\e601"; /* @icon-comment */
    margin-right: 0.4375em;
  }
  .member .options {
    border-top: 0.1em solid rgb(224, 224, 224);
    padding-top: 0.875em;
    margin-top: 0.875em;
  }
  @media (min-width: 25em) {
    .member .share {
      margin: 0;
      display: inline-block;
    }
    .member .share a {
      display: inline-block;
    }
    .member time {
      margin: 0;
      display: inline;
    }
  }
  @media (min-width: 40em) {
    .member:after {
      content: " ";
      display: table;
      clear: both;
    }
    .member .options {
      display: inline;
      border-top-width: 0;
      padding-top: 0;
      margin-top: 0.25em;
      float: right;
    }
  }

  .story .comment-form {
    text-align: left;
  }
  .story .action.edit {
    margin-bottom: 1.75em;
  }
  .story .action.edit a {
    font-size: 0.875em;
  }


/* =Images
  ----------------------------------------------- */
  .story div.images {
    text-align: center;
  }
  .story div.images figure {
    margin: 0;
  }
  .story div.images figure img {
    box-shadow: none;
  }
  .story div.images img {
    max-height: 80vh;
    width: auto;
  }


/* =Comments
  ----------------------------------------------- */
  .comments {
    margin-top: 0;
    margin-bottom: 0;
    background: white;
    border-width: 0.1em 0 0 0;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    padding-top: 1.3125em;
    padding-bottom: 1.75em;
  }

  /* OPTIONAL: Remove the space below the comment list */
  .comments > .comment-list {
    margin-bottom: -1.75em;
  }

  .comments h2 {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }
  .comments form {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .comments form .container {
    background: white;
    max-width: 40em;
  }
  .comments > .comment-list {
    border-width: 0.1em 0 0 0;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    margin-top: 2.625em;
    padding-top: 0.875em;
  }
  .comment-list article {
    background: white;
    text-align: left;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .comment-list article {
    border-width: 0 0 0.1em 0;
    border-style: solid;
    border-color: rgb(224, 224, 224);
  }
  .comment-list .comment-list {
    margin-top: 0;
  }
  .comment-list li:last-child {
    margin-bottom: 0;
  }
  .comment-list .comment-list li {
    margin-bottom: 0;
  }


/* =Aside
  ----------------------------------------------- */
  .story-aside {
    background: white;
    padding: 0.875em 1.5em;
  }
  @media (min-width: 65em) {
    .story-aside {
      padding: 0.875em;
    }
  }
  .story-aside h2 {
    font-family: inherit;
    font-weight: bold;

    /* @h5 */
    font-size: 1.125em;                 /* 18px / @font-size */
    line-height   : 1.33333333333333em; /* @line-height / 1.125 */
    margin-bottom : 0;

    line-height: 2.2222222222em; /* 40px / 18px */
    border-width: 0 0 0.1em 0;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    padding-bottom: 0.7777777778em;
    margin-bottom: 0.7777777778em;
  }
  .story-aside h2 + ul {
    margin-top: 0;
    padding-top: 0;
  }
  .story-aside ul,
  .story-aside li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .story-aside li {
    display: inline;
    margin-right: 0.25em;
  }
  .story-aside li a {
    position: relative;
    display: inline-block;
  }
  .story-aside li a img {
    display: block;
  }

  /* TBD: Consider using an SVG image here instead */
  .story-aside li.video a:before {
    content: "";
    position: absolute;
    top  : 50%;
    left : 50%;
    width  : 1.5em;                        /* 36px / font-size(24px) */
    height : 1.5em;
    margin-left : -0.875em; /* circle.width / 2 */
    margin-top  : -0.875em;
    border: 0.125em solid white;   /* 3px / font-size(24px) */
    background-color: rgba(0, 0, 0, 0.3);

    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
        -ms-border-radius: 100%;
         -o-border-radius: 100%;
            border-radius: 100%;
  }
  .story-aside li.video a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.2083333333em;              /* 5px / font-size(24px) */
    margin-top: -0.375em;                      /* 9px / font-size(24px) */
    display: block;
    border-left   : 0.625em solid white;       /* 15px / font-size(24px) */
    border-right  : 0;
    border-top    : 0.375em solid transparent; /* 9px / font-size(24px) */
    border-bottom : 0.375em solid transparent;

    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  .story-aside li a {
    text-decoration: none;
  }
  .story-aside form {
    display: inline;
    font-size: 0.75em;
    margin-top: 0;
    float: right;
  }
  .story-aside ul {
    border-top: 0.1em solid rgb(249, 249, 250);
    margin-top: 0.875em;
    padding-top: 0.875em;
  }
  @media (min-width: 40em) {
    .story-aside h1 {
      border-top-width: 0;
      padding-top: 0;
      margin-top: 0;
      display: inline;
    }
  }
  .story-aside h1 a {
    color: inherit;
    text-decoration: none;
  }


/* =Pagination
  ----------------------------------------------- */
  .pagination {
    background: transparent;
    padding-top: 1.75em;
    border-top-width: 0;
    padding-bottom: 5.25em;
    margin-bottom: 0;
  }


/* =Layout
  ----------------------------------------------- */
  .story-header > a,
  .story-header h3 + div {
    display: block;
    border-top: 0.1em solid rgb(224, 224, 224);
    padding-top: 0.875em;
    margin-top: 0.875em;
  }
  .story-header > a:after,
  .story-header h3 + div:after {
    content: "";
    display: table;
    clear: both;
  }

  /* SHIM: Support multiple Do forms within a container element. */
  .story-header div.todo_actions {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
  }

  @media (min-width: 65em) {
    .story {
      float: left;
      margin: 0 0 2.25em 2.25em;
      max-width: 55%;
      -moz-box-sizing : border-box;
      box-sizing      : border-box;
    }
    .story-header > a,
    .story-header h3 + div {
      display: inline;
      border-top-width: 0;
      padding-top: 0;
      margin-top: 0;
    }
    .story-aside {
      margin: 0 2.25em 2.25em 60%;
    }
    .story > article {
      padding: 0.875em 0.875em 3.5em;
    }
    .story > article .body {
      max-width: 50em;
      padding-left: 1.75em;
      padding-right: 1.75em;
      margin-left: auto;
      margin-right: auto;
    }
    .pagination {
      clear: both;
    }
  }
  @media (min-width: 85em) {
    body {
      text-align: center;
    }
    .story-header h3 {
      margin-top: 0;
      margin-bottom: 0;
      position: absolute;
      display: block;
      top: 0.3em;
      left: 1em;
    }
    .story-header > a,
    .story-header h3 + div {
      margin-top: 0;
      display: block;
      max-width: 69em;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
    .story,
    .story-aside {
      text-align: left;
      float: none;
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      display: inline-block;
      vertical-align: top;
    }
    .story {
      width: 47em;
    }
    .story-aside {
      margin-left: 2.25em;
      width: 19.75em;
    }
  }


