
/*-----------------------------------------------
    Shared Styles (for all screen sizes)
  ----------------------------------------------- */



  /* =Fonts
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */

  @font-face {
    font-family: "Good-Icons";
    src: url(fonts/icons.eot);
    src: url(fonts/icons.eot?#iefix) format('eot'), url(fonts/icons.woff) format('woff'), url(fonts/icons.ttf) format('truetype'), url(fonts/icons.svg#Good-Icons) format('svg');
    font-weight: normal;
    font-style: normal;
  }



  /* =Elements
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  body {
    font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(249, 249, 250); /* @bright-white */
    color: rgb(42, 43, 44); /* @text-color */
  }
  a {
    color: rgb(113, 179, 247); /* @link-color */
  }
  a:hover,
  a:active,
  a:focus {
    color: rgb(153, 153, 153);
    text-decoration: none;
    transition: all 0.2s;
  }

  /* Fit media to the available width */
  img {
    max-width: 100%;
    height: auto;
  }
  iframe,  object, embed {
    max-width: 100%;
  }

  /* Older browsers sometimes render these inline */
  header, footer, section, article, aside, nav {
    display: block;
  }


  /* =Text
  ----------------------------------------------- */

  /* Margins */
  h1, h2, h3, h4, h5, h6, p, ol, ul, dl, form, table, blockquote, fieldset,
  header, footer, section, article, aside, nav {
    margin-top    : 0.75em; /* @line-height / 2 */
    margin-bottom : 0.75em;
  }
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }

  /* For readability */
  h1, h2, h3, h4, h5, h6, p, nav, dt, dd, li {
    max-width: 40em;
  }

  /* Headlines
  http://typecast.com/images/uploads/typographic-scale.png
  */
  h1, h2, h3, h4, h5, h6 {
    font-family: "FreightText Light", "FreightTextLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-top     : 1.5em;  /* @line-height */
    margin-bottom  : 0.75em; /* @line-height / 2 */
  }
  h1 {
    font-size: 3em;
    line-height   : 1em; /* @line-height x 2 / 3 */
    margin-top    : 1em;
    margin-bottom : 0.5em;
  }
  h2 {
    font-size: 2.25em;
    line-height   : 0.66666666666667em; /* @line-height / 2.25 */
    margin-top    : 0.66666666666667em;
    margin-bottom : 0.33333333333334em;

    /* Add to the line-height to make multi-line headlines easier to read. */
    line-height   : 1.33333333333334em; /* (@line-height x 2) / 2.25 */
  }
  h3 {
    font-size: 1.5em;
    line-height   : 1em; /* @line-height / 1.5 */
    margin-top    : 1em;
    margin-bottom : 0.5em;

    /* Add to the line-height and subtract from the margin
    to make multi-line headlines easier to read. */
    line-height   : 1.25em; /* (@line-height x 1.25) / 1.5 */
    margin-top    : 0.75em;
  }
  h4 {
    font-size: 1.3125em;
    line-height   : 1.14285714285714em; /* @line-height / 1.3125 */
    margin-top    : 1.14285714285714em;
    margin-bottom : 0.57142857142857em;
  }
  h5 {
    font-size: 1.125em;
    line-height   : 1.33333333333333em; /* @line-height / 1.125 */
    margin-top    : 1.33333333333333em;
    margin-bottom : 0.66666666666667em;
  }
  h5, h6 {
    color: rgb(102, 103, 102); /* @steel */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
  }
  h6 {
    font-size: 1em;
    font-style: italic;
  }

  dt {
    margin-top: 0.75em;
    font-variant: small-caps;
    text-transform: lowercase;
    font-family: "Brandon Grot W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon */
  }
  dd {
    margin-left: 0;
    padding-left: 0;
  }



  /* =Navigation
  ----------------------------------------------- */


  /* =Text Sections
  ----------------------------------------------- */


  /* =Headlines
  ----------------------------------------------- */
  ul.headlines,
  ul.headlines li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  ul.headlines li {
    margin-top: 1.5em; /* @line-height */
  }
  ul.headlines li > a {
    text-decoration: none;
    color: inherit;
  }
  ul.headlines li > a h2 {
    text-decoration: underline;
  }
  ul.headlines li > a:hover  h2,
  ul.headlines li > a:active h2,
  ul.headlines li > a:focus  h2 {
    color: rgb(113, 179, 247); /* @link-color */
  }
  ul.headlines img {
    float: left;
    margin-right: 1.5em;
  }



  /* =Application
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */


  /* =Form
  ----------------------------------------------- */
  form p.submit {
    margin-top: 1.5em;
  }
  form .text label {
    display: block;
    padding-bottom: 0.7em;
  }
  form .select label {
    display: block;
    padding-bottom: 0.7em;
  }
  form label > span {
    font-size: 0.9375em;
    line-height: 1.6em; /* @line-height / 0.9375 */
  }
  form .text label > span {
    display: block;
  }
  form .text label br {
    display: none;
  }
  input[type="text"],
  input[type="email"],
  input[type="phone"],
  input[type="password"],
  textarea {
    border-width: 0;
    border: 1px solid rgb(225, 225, 225); /* @bright-silver */

    /* Give the field a width of 22em’s, but make it fit on small screens. */
    max-width: 22em;
    width: 100%;
    box-sizing: border-box;

    margin: 0;
    font-size: 0.9375em;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(102, 102, 102);

    /* TRICKY: Some browsers don’t allow line height to be
    adjusted on text fields, so assume a line height of “normal”
    and rely on padding. */
    padding: 0.45em 0.6em;
  }
  textarea {
    display: block;
    margin: 0;
    line-height: 1.6em; /* @line-height / 0.9375 */

    /* Give the field a width of 33em’s, but make it fit on small screens. */
    max-width: 33em;
    width: 100%;
    box-sizing: border-box;
  }
  select {
    font-size: inherit;
  }

  form ul.submit,
  form ul.submit li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  form ul.submit li {
    display: inline;
    margin-right: 1.5em;
  }


  /* =Links & Buttons
  ----------------------------------------------- */
  a .action span,
  .action a,
  button {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    background-color: rgb(135, 233, 184);
    color: white;
    cursor: pointer;
    border-width: 0;
    text-decoration: none;
    font-weight: bold;

    line-height: 1.5em;
    padding: 0.75em 1.5em;
    transition: all 0.2s;
  }
  a:hover  .action span,
  a:active .action span,
  a:focus  .action span,
  .action a:hover,
  .action a:active,
  .action a:focus,
  button:hover,
  button:active,
  button:focus {
    background-color: rgb(84, 218, 151);
  }


  /* =Messages
  ----------------------------------------------- */


  /* =Layouts
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */


  /* =Containers
  ----------------------------------------------- */
  #header > .container {
    padding-top: 1.5em;
  }
  #content {
    /* @separator */
    margin-top: 2.95em;
    padding-top: 2.95em;
    border-top: 0.1em solid rgb(221, 221, 221);
    padding-bottom: 2.95em;
  }
  #footer {
    margin-top: 0;
  }
  #footer {

    /* @separator */
    border-top: 0.1em solid rgb(221, 221, 221);
    padding-top: 2.95em;

    padding-bottom: 1.5em;
  }

  #header > .container,
  #content > .container,
  #footer > .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
  }

  /* On large screens, fill the available vertical space */
  @media (min-width: 40em) {
    #header > .container {
      padding-top: 3em;
    }
    #footer > .container {
      padding-bottom: 3em;
    }

    #header > .container,
    #content > .container,
    #footer > .container {
      padding-left: 3em;
      padding-right: 3em;
    }
  }


  /* =Dialog
  ----------------------------------------------
  (A page with a small amount of content.)
  ----------------------------------------------- */



  /* =Pages
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */


  /* =Header
  ----------------------------------------------- */
  #header nav ul,
  #header nav li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  #header .primary li {
    display: inline;
  }
  #header .primary li + li {
    margin-left: 0.125em;
  }
  #header .primary li a {
    display: inline-block;
    background-color: rgb(219, 235, 237);
    color: rgb(149, 171, 174);
    padding: 0.75em 1.5em;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.875em; /* 14px / font-size(16px) */
    border-radius: 0.125em;
  }
  #header .primary li a:hover,
  #header .primary li a:active,
  #header .primary li a:focus {
    background: rgb(228, 241, 242);
    color: rgb(108, 153, 157);
  }
  #header .primary li:last-child a {
    background-color: rgb(255, 224, 18);
    color: rgb(219, 191, 3);
  }
  #header .primary li:last-child a:hover,
  #header .primary li:last-child a:active,
  #header .primary li:last-child a:focus {
    background: rgb(255, 233, 84);
    color: rgb(170, 149, 5);
  }
  #header h2 {
    font-size: inherit;
  }
  #header h2 a {
    vertical-align: middle;
    display: inline-block;
    background: url(images/good.svg) no-repeat;
    background-size: contain;

    width:  6.250em; /* image-width(100px) / font-size(16px) */
    height: 3.375em; /* image-height(54px) / font-size(16px) */

    /* @hidden-accessible-text */
    text-indent: -9999px;
    overflow: hidden;
  }

  #header .search {
    margin-top: 1.5em; /* @line-height */
  }
  #header h2 + p {
    font-weight: bold;
  }
  #header h2 + p + p {
    color: rgb(178, 178, 178);
    font-style: italic;
  }
  #footer h2 a,
  #header h2 + p + p a {
    color: rgb(37, 139, 245);
    font-weight: bold;
    font-style: normal;
  }

  #header .search h3 {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
  }

  @media(min-width: 60em) {

    #header .search,
    #header .search h3 {
      display: inline;
    }
    #header .search {
      margin-left: 1.5em;
      display: inline-block;
      position: relative;
      margin-top: 0;
    }
    #header .search h3 a {
      background-color: rgb(139, 139, 139);
      color: rgb(102, 102, 102);
      display: inline-block;
      padding: 0.75em 1.5em;
      text-decoration: none;
      font-size: 0.875em; /* 14px / font-size(16px) */
      border-radius: 0.125em;
    }
    #header .search h3 a:hover,
    #header .search h3 a:active,
    #header .search h3 a:focus {
      background: rgb(173, 173, 173);
      color: rgb(153, 153, 153);
    }

    @media (min-width: 60em) {
      #header .primary {
        margin-top: 0;
        float: right;
      }
      #header .search {
        margin-top: 0;
        float: right;

        /* @separator */
        border-right: 0.1em solid rgb(239, 239, 239);
        padding-right: 0.875em;
        margin-right: 0;
      }
    }


    #header .search form {
      margin-top: 0;
      position: absolute;
      z-index: 9999;
      left: -9999px;
      background: white;
      box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
      padding: 1.5em;
      width: 30em;
    }
    #header .search:hover form {
      left: auto;
      right: 0;
    }

    #header .account {
      display: inline-block;
      vertical-align: top;
      float: right;
      margin-top: 0;
      position: relative;

      /* @separator */
      border-right: 0.1em solid rgb(221, 221, 221);
      padding-right: 1.5em;
      margin-right: 0;
    }
    #header .account .options {
      position: absolute;
      left: -9999px;
      width: 10em;
      background: white;
      box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
      padding: 1.5em;
    }
    #header .account:hover .options {
      left: auto;
      right: 0;
    }

    #header .todos {
      display: inline-block;
      vertical-align: top;
      float: right;
      margin-top: 0;
      position: relative;

      /* @separator */
      border-right: 0.1em solid rgb(221, 221, 221);
      padding-right: 1.5em;
      margin-right: 1.5em;
    }
    #header .todos .options {
      position: absolute;
      left: -9999px;
      width: 20em;
      background: white;
      box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
      padding: 1.5em;
    }
    #header .todos:hover .options {
      left: auto;
      right: 0;
    }

  }



  @media (min-width: 60em) {
    #header h2,
    #header > .container > p,
    #header .primary {
      display: inline;
    }
    #header > .container > p {
      margin-left: 1.5em;
    }
    #header .primary {
      margin-left: 0.875em;
    }
    #header .primary ul,
    #header .primary ul li {
      display: inline;
    }
  }


  /* =Footer
  ----------------------------------------------- */
  #footer section {
    margin-bottom: 1.5em;
    margin-right: 3em;
    display: inline-block;
  }
  #footer section:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  #footer h2 {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
  }
  #footer ul {
    font-size: 0.75em;
    margin-top: 1.5em;
  }
  #footer ul,
  #footer li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  #footer li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  #footer li a:hover,
  #footer li a:active,
  #footer li a:focus {
    color: rgb(178, 178, 178);
  }

  @media (min-width: 60em) {
    #footer li {
      display: inline;
      margin-right: 1em;
    }
  }


  /* =Content
  ----------------------------------------------- */
  #content {
    background: rgb(254, 254, 255);
  }

  #content .header {
    margin-bottom: 2.25em;
  }
  #content .header nav {
    margin-top: 2.25em;
    background: rgb(218, 220, 224);
    max-width: none;
  }

  #content .header nav ul,
  #content .header nav li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  #content .header nav a {
    background: rgb(218, 220, 224);
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 0.75em 1.5em;
  }
  #content .header nav .active a {
    background-color: rgb(178, 178, 178);
  }
  #content .header nav a:hover,
  #content .header nav a:active,
  #content .header nav a:focus {
    background-color: rgb(200, 200, 200);
  }

  @media (min-width: 30em) {
    #content .header nav ul,
    #content .header nav li,
    #content .header nav form,
    #content .header nav form p,
    #content .header nav dl,
    #content .header nav dt,
    #content .header nav dd {
      display: inline;
    }

    #content .header nav {
      position: relative;
    }

    /* KLUDGE: Attempt to hide the whitespace to the left of the button.
    (It might be better to use floats.) */
    #content .header nav form {
      display: inline-block;
      margin: 0;
      background-color: rgb(135, 233, 184);
      border-right: 1px solid rgb(233, 233, 235);
    }

    #content .header nav dt {
      position: absolute;
      top: -1.5em;
      text-align: center;
      min-width: 6.5em;
      color: rgb(102, 102, 102);
    }
    #content .header nav dd a {
      min-width: 3.5em;
      text-align: center;
      border-right: 1px solid rgb(233, 233, 235);
    }
    #content .header nav dt,
    #content .header nav dd {
      margin: 0;
      display: inline-block;
    }
  }

  @media (min-width: 70em) {
    #content > .container:after {
      content: "";
      display: table;
      clear: both;
    }
    #content .body {
      margin-top: 0;
      float: left;
      width: 65%;
      box-sizing: border-box;
    }
    #content .body + aside {
      margin-top: 0;
      float: right;
      width: 32.5%;
      box-sizing: border-box;

      /* @separator */
      border-left: 0.1em solid rgb(221, 221, 221);
      padding-left: 1.5em;
    }
  }


/* =Activity Item
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  .activity-item:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }

  .activity-item section,
  .activity-item article {
    margin-top: 1.25em; /* @line-height */
  }
  .activity-item p {
    margin-top    : 0.625em; /* @line-height / 2 */
    margin-bottom : 0.625em;
  }

  /* Links */
  .activity-item a {
    color: rgb(102, 153, 204);
    text-decoration: none;
    transition: all 0.2s;
  }
  .activity-item a:hover,
  .activity-item a:active,
  .activity-item a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }
  .activity-item a.follow-button {
    color: white; /* Restore the base style */
  }

  /* Headlines */
  .activity-item h3 {
    margin: 0;
    font-size: 1.5em; /* 24px / @font-size */
    font-family: "FreightText Light", "FreightTextLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.35em; /* Freight Light needs a big line height */
    font-weight: normal;
  }
  .activity-item .do h3 {
    min-height: 2.7em; /* line-height x 2 */
  }
  .activity-item .comment h3,
  .activity-item .follow  h3 {
    font-family: inherit;
    line-height: inherit;
  }
  .activity-item .follow h3 {
    font-size: inherit;
    font-weight: bold;
  }
  .activity-item h3 a {
    color: inherit;
  }
  .activity-item h3 a:hover,
  .activity-item h3 a:hover,
  .activity-item h3 a:hover {
    color: rgb(113, 179, 247); /* @link-color */
  }

  /* Icons */
  .meta .dos      abbr,
  .meta .votes    abbr,
  .meta .comments abbr {
    font-size: 0.75em; /* 12px / @font-size */
  }
  .meta .dos      abbr:before,
  .meta .votes    abbr:before,
  .meta .comments abbr:before {

    /* @good-icons */
    font-family: "Good-Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 1.33333333333333em; /* 16px / 12px */

    display: inline-block;
    vertical-align: middle;
    margin-right: 0.375em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .meta .dos abbr:before {
    content: "\e001";
    color: rgb(83, 231, 185);
  }
  .meta .votes abbr:before {
    content: "\e002";
    color: rgb(113, 179, 247);
  }
  .meta .comments abbr:before {
    content: "\e003";
    color: rgb(255, 223, 145);
  }

  /* Time */
  .activity-item .time {
    color: rgb(204, 204, 204);
    font-size: 0.75em; /* 12px / @font-size */
  }


/* =More Link
  ----------------------------------------------- */
  .activity-item .more {
    padding-left: 0.625em; /* 10px / @font-size */
    margin-top: 1.5em;
  }
  .activity-item .more a {
    color: rgb(153, 153, 153); /* @aluminum */
    font-weight: bold;
    font-size: 0.875em; /* 14px / @font-size */
  }
  .activity-item .more a:hover,
  .activity-item .more a:active,
  .activity-item .more a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }




/* =Units
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */


/* =Post
  ----------------------------------------------- */
  .activity-item .post {
    position: relative;
  }
  .activity-item .post h3 .image {
    float: left;
    position: relative;
    margin-right: 0.83333333333333em; /* @line-height / font-size(16px) */
  }
  .activity-item .post h3 .image img {
    display: block;
  }
  .activity-item .post h3 small {
    font-size: 0.5em; /* 12px / 24px */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* @helvetica */
    white-space: nowrap;

    /* TRICKY: Limit the width of the element, since the domain name might be very long. */
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .featured .activity-item .post h3 small {
    font-size: 0.33333333333333em; /* 12px / 36px */
  }

  /* OPTIONAL: Line up with the headline */
  @media (min-width: 40em) { /* @medium-size */
    .activity-item .post .has-image + .meta {
      margin-left: 7.5em; /* image.width(120px) / font-size(16px) */
    }

    /* Featured posts have a larger image */
    .featured .activity-item .post .has-image + .meta {
      margin-left: 16.875em; /* image.width(270px) / font-size(16px) */
    }
  }

  .activity-item form {
    font-size: 0.75em;
  }

  @media (min-width: 40em) {
    .activity-item form {
      margin-top: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
    .featured .activity-item.do form {
      margin-top: 1.5em;
      position: static;
    }
  }


/* =Link
  ----------------------------------------------- */

  /* The links images are smaller, so we want the meta data to appear after them */
  .activity-item .link .has-image:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }

  /* Link images should appear on the right, instead of the left */
  .activity-item .link h3 .image {
    float: right;
    border-right-width: 0;
    margin-left: 0.9375em; /* @image-margin */

    /* OPTIONAL: Move the image up and to the right a little */
    margin-top   : -0.20833333333333em; /* @line-height(20px) / @fontSize(24px) x 1/4 */
    margin-right : -0.20833333333333em;
  }

  /* OPTIONAL: Reset the margin, since the image is on the right. */
  .activity-item .link .has-image + .meta {
    margin-left: 0;
  }

  .activity-item .link,
  .activity-item .follow {
    padding       : 1.25em;  /* @line-height */
    border: 1px solid rgb(243, 243, 243); /* @bright-silver */
    background: rgb(249, 249, 249); /* @silver */
    border-radius: 0.25em;
    transition: background-color 0.2s, border-color 0.2s;
    position: relative;
  }

  .activity-item .link:after,
  .activity-item .follow:after {
    /* @clear-fix */
    content: "";
    display: table;
    clear: both;
  }

  /* OPTIONAL: Position the buttons in the top right corner on medium-size screens and up */
  @media (min-width: 40em) { /* @medium-size */

    /* Make space for the buttons */
    .activity-item .do h3 {
      margin-right: 5em;
    }
    .activity-item .follow h3,
    .activity-item .follow h3           + .description,
    .activity-item .follow h3.has-image + .description {
      margin-right: 6.25em;
    }

    .activity-item .todo-actions,
    .activity-item .follow-button {
      position: absolute;
      margin-top: 0;
      top: 0;
      right: 0.5625em; /* meta.margin-right(9px) / @font-size(16px) */
    }
    .activity-item .follow-button {
      top   : 1.25em; /* @line-height */
      right : 1.25em; /* @line-height */
    }
  }

  /* OPTIONAL: Light up the links and follows, when hovering over an item */
  .activity-item .link:hover,
  .activity-item .follow:hover {
    background: white;
    border-color: rgb(153, 153, 153); /* $aluminum */
  }


/* =Follow (topic or person)
  ----------------------------------------------- */
  .activity-item .follow h3 .image {
    float: left;
    margin-right: 0.9375em; /* @image-margin */

    /* OPTIONAL: Move the image up and to the left a little */
    margin-top  : -0.3125em; /* @line-height x 1/4 */
    margin-left : -0.3125em;
  }
  .activity-item .follow h3 .image img {
    display: block;
  }
  .activity-item .follow,
  .activity-item .follow + .more {
    margin-top: 1.25em; /* @line-height */
  }
  .activity-item .follow .meta {
    margin-top: 0.3125em; /* @line-height / 4 */
    font-size: 0.75em; /* 12px / @font-size */
  }
  .activity-item .follow .meta + .description {
    border-top: 1px solid rgb(218, 220, 224); /* @bright-blue-silver */
    padding-top: 0.625em; /* @line-height / 2 */
  }
  .activity-item .follow .description {
    font-family: "FreightText Light", "FreightTextLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.35em; /* Freight Light needs a big line height */
    margin-bottom: 0;
  }

  .activity-item .follow .has-image ~ .description {

    /* OPTIONAL: Line up with the headline */
    margin-left: 4.375em; /* image.width(70px) / font-size(16px) */

    /* OPTIONAL: Line up with the follow button */
    margin-right: -0.3125em;
  }


/* =Comment
  ----------------------------------------------- */
  .activity-item .comment {
    padding-left: 2.5em; /* @line-height x 2 */
  }
  .activity-item .comment,
  .activity-item .comment + .more {
    margin-top: 1.25em; /* @line-height */
    border-top: 1px solid rgb(221, 223, 227); /* @silver-blue */
    padding-top: 1.25em; /* @line-height */
  }
  .activity-item .comment + .comment {
    padding-left: 5em; /* @line-height x 4 */
  }

  .activity-item .comment h3 a {
    margin-right: 0.375em;
  }
  .activity-item .comment h3 img {
    vertical-align: middle;
    margin-right: 0.5em;

    margin-left: -3.33333333333333em; /* (@line-height x 2) / 12px */
  }
  .activity-item .comment p {
    color: black;
    font-size: 0.875em; /* 14px / @font-size */
  }
  .activity-item .comment p a {
    color: rgb(102, 153, 204);
  }
  .activity-item .comment p a:hover,
  .activity-item .comment p a:active,
  .activity-item .comment p a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }

  /* OPTIONAL: Reduce the space between the headline and the commment */
  .activity-item .comment h3.has-image + p {
    margin-top: 0;
  }


/* =Source
  ----------------------------------------------- */
  .activity-item .source {
    font-size: 0.75em; /* 12px / @font-size */
    color: rgb(153, 153, 153); /* @aluminum */
  }
  .activity-item .source a {
    font-weight: bold;
    color: rgb(102, 102, 102); /* @steel */
  }
  .activity-item .source a:hover,
  .activity-item .source a:hover,
  .activity-item .source a:hover {
    color: rgb(113, 179, 247); /* @link-color */
  }


/* =Meta
  ----------------------------------------------- */
  .activity-item .post .meta {
    margin-top: 0.625em;
    border-top: 1px solid rgb(243, 243, 243); /* @bright-silver */
    padding-top: 0.625em;
  }

  .activity-item .link .meta {
    border-top-color: rgb(218, 220, 224); /* @bright-blue-silver */

    /* OPTIONAL: Line up with the image */
    margin-right: -0.3125em;
  }

  .featured .activity-item.do .meta {
    margin-top: 1.5em;
    display: inline;
    float: right;
  }
  .activity-item .post .meta:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .activity-item .meta p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    margin-right: 0.75em;
    color: rgb(153, 153, 153); /* @aluminum */
  }

  /* OPTIONAL: Add a line between meta items within a follow */
  .activity-item .follow .meta p {
    margin-right: 0;
  }
  .activity-item .follow .meta p + p {
    border-left: 1px solid rgb(216, 216, 216);
    padding-left: 0.6em;
    margin-left: 0.6em;
    line-height: 1;
  }

  .activity-item .meta a {
    color: inherit;
  }
  .activity-item .meta a:hover,
  .activity-item .meta a:active,
  .activity-item .meta a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }


/* =Tags
  ----------------------------------------------- */
  .activity-item section.tags {
    margin: 0;
    display: inline;
    float: right;
  }
  .activity-item section.tags h4 {
    margin: 0;
    display: inline;
    font-size: inherit;
  }
  .activity-item section.tags h4 span {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }

  .activity-item section.tags h4:before {

    /* @good-icons */
    font-family: "Good-Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* @icon-tag */
    content: "\e004";

    color: rgb(247, 105, 100);
    font-size: 0.9375em; /* 15px / @font-size */
  }

  .activity-item section.tags ul,
  .activity-item section.tags li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .activity-item section.tags ul {
    margin-left: 0.75em;
    font-size: 0.75em; /* 12px / @font-size */
    display: inline;
  }
  .activity-item section.tags li {
    display: inline;
  }
  .activity-item section.tags li + li {
    margin-left: 1em;
  }
  .activity-item section.tags a {
    color: rgb(153, 153, 153); /* @aluminum */
  }
  .activity-item section.tags a:hover,
  .activity-item section.tags a:active,
  .activity-item section.tags a:focus {
    color: rgb(113, 179, 247);
  }


/* =Activity Item
  ----------------------------------------------- */
  .activity-item {
    border-top: 1px solid rgb(221, 223, 227); /* @silver-blue */
    position: relative;
    padding: 2.5em 1.25em; /* @line-height x 2    @line-height */
  }

  /* Show a triangle in the corner of the item, when hovering over it */
  .activity-item:before {

    /* @good-icons */
    font-family: "Good-Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e000";
    color: rgb(34, 155, 246);
    font-size: 0.9375em; /* 15px / $font_size */

    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .activity-item:hover:before {
    opacity: 1;
  }

  /* OPTIONAL: Only show the tags for one item at a time */
  html:hover .activity-item .tags {
    opacity: 0;
    transition: opacity 0.2s;
  }
  html:hover .activity-item:hover .tags {
    opacity: 1;
  }

  /* OPTIONAL: Light up the social icons for an item, when hovering over it */

  /* Off */
  html:hover .activity-item .meta .dos,
  html:hover .activity-item .meta .votes,
  html:hover .activity-item .meta .comments {
    color: rgb(190, 190, 190);
    transition: color 0.2s;
  }
  html:hover .activity-item .meta .dos      abbr:before,
  html:hover .activity-item .meta .votes    abbr:before,
  html:hover .activity-item .meta .comments abbr:before {
    color: rgb(236, 236, 236);
    transition: color 0.2s;
  }
  html:hover .activity-item section.tags h4:before {
    color: rgb(222, 222, 222);
    transition: color 0.2s;
  }

  /* Over */
  html:hover .activity-item:hover .meta .dos,
  html:hover .activity-item:hover .meta .votes,
  html:hover .activity-item:hover .meta .comments {
    color: rgb(153, 153, 153);
  }
  html:hover .activity-item:hover .meta .dos abbr:before {
    color: rgb(83, 231, 185);
  }
  html:hover .activity-item:hover .meta .votes abbr:before {
    color: rgb(113, 179, 247);
  }
  html:hover .activity-item:hover .meta .comments abbr:before {
    color: rgb(255, 223, 145);
  }
  html:hover .activity-item:hover section.tags h4:before {
    color: rgb(247, 105, 100);
  }

  /* OPTIONAL: Move the primary source up and to the left a little */
  .activity-item > .source:first-child {
    margin-left: -1.66666666666667em; /* @line-height / 12px */
  }
  .activity-item > .source.has-image:first-child {
    margin-left: 0;
    margin-bottom: -2em; /* This is arbitrary */
  }
  .activity-item > .source:first-child {
    margin-top: -2.33333333333333em; /* 28px / 12px */
  }

  .activity-item > .source:first-child img {
    vertical-align: top;
    margin-top: -1em; /* 12px / 12px */
    margin-left: -1.66666666666667em; /* 20px / 12px */
    margin-right: 1.25em;
    border-color: rgb(221, 223, 227); /* @silver-blue */
    border-style: solid;
    border-width: 0 1px 1px 1px;
  }

  /* OPTIONAL: Position the time in the top right corner */
  .activity-item .time:first-child,
  .activity-item > .source:first-child + .time {
    margin: 0;
    position: absolute;
    top: 1em; /* 12px / 12px */
    right: 1.66666666666667em; /* 20px / 12px */
  }

  .activity-item > .time + .post,
  .activity-item > .time + .follow {
    margin-top: 2.5em;
  }

  @media (min-width: 40em) { /* @medium-size */

    /* OPTIONAL: Line the content up with the source */
    .activity-item > .post,
    .activity-item > .comment,
    .activity-item > .follow,
    .activity-item > .more {
      margin-left: 3.75em;
      margin-right: 3.75em;
    }

    /* OPTIONAL: Move the first follow or post up a little */
    .activity-item > .time + .post,
    .activity-item > .time + .follow {
      margin-top: 1em;
    }
    .activity-item > .time:first-child + .post,
    .activity-item > .time:first-child + .follow {
      margin-top: 0;
    }

    /* OPTIONAL: Don’t line up with the source if this is a feature */
    .featured .activity-item > .time + .post {
      margin-top: 2.5em; /* @line-height / 2 */
      margin-left: -1.25em; /* @line-height */
      margin-right: 0;
    }

  }


/* =Featured Article
  ----------------------------------------------- */

  /* OPTIONAL: Make the featured source image smaller */
  .featured .activity-item > .source:first-child img {
    width: 30px;
    height: auto;
    margin-left: -1.66666666666667em; /* 20px / 12px */
    margin-right: 0.625em;
  }

  /* OPTIONAL: Make the headline bigger */
  .featured .activity-item h3 {
    font-size: 2.25em; /* 36px / 16px */
  }

  /* OPTIONAL: Don’t use the usual “link” style */
  .featured .activity-item .link {
    padding: 0;
    border-width: 0;
    background: transparent;
  }
  .featured .activity-item .link .has-image:after {
    display: none;
    clear: none;
  }
  .featured .activity-item .link h3 .image {
    float: left;
    margin: 0;
    margin-right: 0.83333333333333em; /* $line_height / font-size(16px) */
  }


/* =Featured Do
  ----------------------------------------------- */

  .topic > .body header h2,
  .topic > .featured h2,
  .topic > .featured > section > h3 {
    font-family: inherit;
    font-weight: bold;
  }
  .topic > .body header h2,
  .topic > .featured h2 {
    font-size: 1.875em; /* 30px / font-size(16px) */
  }

  @media (min-width: 70em) {
    #content .header + .featured:after {
      /* @clearfix */
      content: "";
      display: table;
      clear: both;
    }
    .topic > .featured > section {
      margin-top: 0;
      float: left;
      width: 65%;
      box-sizing: border-box;
    }
    .topic > .featured > section + section {
      margin-top: 0;
      float: right;
      width: 32.5%;
      box-sizing: border-box;
      padding-left: 1.5em;
    }
  }

  @media (min-width: 70em) {
    .topic > .featured {
      position: relative;
    }
    .topic > .featured h2,
    .topic > .featured h2 + p {
      display: inline;
    }
    .topic > .featured h2 {
      margin-right: 0.75em;
    }
    .topic > .featured h2 + p {
      color: rgb(153, 153, 153);
      font-size: 0.75em; /* 12px / font-size(16px) */
      font-weight: bold;
    }
    .topic > .featured > h2 + p + section {
      margin-top: 1.5em;
    }
    .topic > .featured > section + section {
      margin-top: -1.5em;
    }
  }

  .featured .activity-item.do {
    background: rgb(246, 255, 250);
    border: 6px solid rgb(233, 249, 240);
    padding: 14px;
  }

  /* KLUDGE: Remove the space above the section in featured do’s
  (It would be better to remove the section element altogether.) */
  .featured .activity-item.do section {
    margin-top: 0;
  }

  .featured .activity-item.do h3 {
    font-size: 20px;
    font-family: "FreightText Light", "FreightTextLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.35em; /* Freight Light needs a big line height */
  }
  .featured .activity-item.do h3 a {
    display: block;
  }
  .featured .activity-item.do h3 img {
    border: 5px solid rgb(203, 238, 218);
    border-radius: 200px;
    margin: 0 auto 1.25em; /* $line_height */
    display: block;
  }


/* =Activity List
  ----------------------------------------------- */
  ul.activity-list {
    margin-top: 1.25em; /* $line_height */
  }
  ul.activity-list,
  ul.activity-list > li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  ul.activity-list > li {
    max-width: none;
  }


/* =Follow List
  ----------------------------------------------- */
  ul.follow-list,
  ul.follow-list li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  ul.follow-list + ul.follow-list,
  ul.follow-list > li + li {

    /* @separator */
    margin-top: 2.95em;
    border-top: 0.1em solid rgb(221, 221, 221);
    padding-top: 2.95em;
  }
  ul.follow-list li:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  ul.follow-list li img {
    float: left;
    margin-right: 0.75em;
  }

  #content        .body > section + section,
  #content        .body > aside,
  #content > .container > section + section,
  #content > .container > aside   + section {

    /* @separator */
    margin-top: 2.95em;
    border-top: 0.1em solid rgb(221, 221, 221);
    padding-top: 2.95em;
  }


/* =Topic
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  .topic .header h1 {
    font-family: "TradeGothicW01-BoldCn20 675334", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    border: 0.05em solid rgb(102, 102, 102);
    padding: 0.75em;
    text-transform: uppercase;
    color: rgb(69, 71, 71);
    font-size: 3.875em; /* 62px / font-size(16px) */
  }
  .topic .header .add a {
    font-weight: bold;
    color: rgb(102, 102, 102);
    font-size: 0.6875em; /* 11px / font-size(16px) */
  }
  @media (min-width: 30em) {
    .topic .header {
      position: relative;
    }
    .topic .header .add {
      margin: 0;
      position: absolute;

      line-height : 5em;   /* This is about the same as the height of the main headline */
      top         : 2.5em; /* This is about the same as the padding around the main headline */

      border-left: 0.1em solid rgb(139, 139, 139);
      padding-left : 3em;
      right        : 3em;
    }
  }

  .topic .featured {

    /* @separator */
    margin-bottom: 2.95em;
    border-bottom: 0.1em solid rgb(218, 220, 224);
  }

  .topic .body header h2,
  .topic .body header h2 + p {
    display: inline;
  }
  .topic .body header h2 {
    margin-right: 0.75em;
  }
  .topic .body header ul,
  .topic .body header li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .topic .body header p a {
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
  }
  .topic .body header p a:hover,
  .topic .body header p a:active,
  .topic .body header p a:focus {
    color: rgb(49, 144, 242);
  }
  .topic .body header ul {
    display: inline;
    float: right;
  }
  .topic .body header li {
    display: inline;
    margin-right: 0.5em;
  }
  .topic .body header li:last-child {
    margin-right: 0;
  }
  .topic .body header li a {
    color: rgb(153, 153, 153);
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
  }
  .topic .body header li a:hover,
  .topic .body header li a:active,
  .topic .body header li a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }


/* =Post
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  @media (min-width: 60em) {
    article.body > .container {
      border: 0.1em solid rgb(218, 220, 224);
      padding: 3em;
    }
  }

  article.body > .container > header {
    margin-bottom: 3em;
  }
  article.body > .container > header .topics,
  article.body > .container > header .time {
    display: inline;
  }
  article.body > .container > header .topics {
    margin-right: 3em;
  }
  article.body > .container > header .promote,
  article.body > .container > header .author {
    margin-right: 1.5em;
  }
  article.body > .container > header .promote h2 {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
  }
  article.body > .container > header .author {
    color: rgb(102, 102, 102);
  }
  article.body > .container > header .author p span {
    display: block;
    margin-bottom: 0.375em;

    color: rgb(153, 153, 153);
    font-size: 0.6875em; /* 11px / font-size(16px) */
    font-weight: bold;
  }
  article.body > .container > header .author img {
    float: left;
    margin-right: 0.75em;
  }
  article.body > .container > header .author a {
    color: rgb(51, 51, 51);
    text-decoration: inherit;
    color: rgb(102, 102, 102);
    font-size: 0.75em; /* 12px / font-size(16px) */
    font-weight: bold;
    position: relative;
    top: -0.25em;
  }
  article.body > .container > header .author a:hover,
  article.body > .container > header .author a:active,
  article.body > .container > header .author a:focus {
    color: rgb(153, 153, 153);
  }
  article.body > .container > header .author p {
    margin-bottom: 0;
  }
  article.body > .container > header .author form {
    margin-top: 0;
  }
  article.body > .container > header .author button {
    font-size: 0.75em; /* 12px / font-size(16px) */
  }
  article.body > .container > header .share h2 {
    font-family: inherit;
    font-size: inherit;
  }
  article.body > .container > header .share ul,
  article.body > .container > header .share li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  article.body > .container > header .share li {
    display: inline
  }
  /*
  article.body > .container > header form h2 button {
    background-color: transparent;
    color: inherit;
    padding: 0;
  }
  */

  article.body > .container > header .share {
    text-align: center;
  }
  article.body > .container > header .share h2 {
    color: rgb(153, 153, 153);
    font-size: 0.6875em; /* 11px / font-size(16px) */
    font-weight: bold;
  }
  article.body > .container > header .share a {
    display: inline-block;
    background-color: rgb(255, 249, 208);
    color: rgb(218, 198, 71);
    text-decoration: none;
    font-size: 0.6875em; /* 11px / font-size(16px) */
    padding: 0.5em 1em;
    font-weight: bold;
  }

  article.body > .container > header > img {
    float: left;
    margin-right: 1.5em;
  }
  article.body > .container > header > img + h1 {
    margin-top: 0;
  }
  article.body > .container > header .promote abbr {
    font-size: 2.375em; /* 38px / font-size(16px) */
    line-height: normal;
  }
  article.body > .container > header .promote button {
    background: inherit;
    color: inherit;
    padding: 0;
    font-family: "FreightText Light", "FreightTextLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  @media (min-width: 30em) {
    article.body > .container > header .options {
      width: 100%;
      display: table;
    }
    article.body > .container > header .promote,
    article.body > .container > header .author,
    article.body > .container > header .share {
      margin-top: 0;
      display: table-cell;
      vertical-align: top;
    }
    article.body > .container > header .promote,
    article.body > .container > header .author {
      border-right: 0.1em solid rgb(221, 221, 221);
      padding-right: 2.95em;
    }
    article.body > .container > header .author,
    article.body > .container > header .share {
      padding-left: 2.95em;
    }

  }

  @media (min-width: 60em) {
    #content article.body {
      margin-top: 6em;
    }
    article.body > .container > header .options {
      position: absolute;
      top: -9em;
      height: 6em;
    }
    article.body > .container > header {
      padding-top: 5em;
      position: relative;
    }
    article.body > .container > header .meta {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  article.body > .container > footer h2 {
    font-size: inherit;
  }
  article.body > .container > footer .tags {
    background: rgb(247, 247, 247);
    padding: 3em;
    margin-left: -3em;
    margin-right: -3em;
    margin-bottom: -3em;
  }
  article.body > .container > footer .tags h2,
  article.body > .container > footer .tags li {
    font-size: 0.875em; /* 14px / font-size(16px) */
  }

  article.body > .container > footer .tags h2 {
    color: rgb(14, 14, 14);
    font-family: inherit;
  }
  article.body > .container > footer .tags h2:before {

    /* @good-icons */
    font-family: "Good-Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* @icon-tag */
    content: "\e004";

    color: rgb(247, 105, 100);
    font-size: 1.15384615384615em; /* 15px / 13px */
    margin-right: 0.5em;
  }

  article.body > .container > footer .tags ul {
    margin-top: 1.2em;
  }
  article.body > .container > footer .tags:after {
    /* $clearfix */
    content: "";
    display: table;
    clear: both;
  }
  article.body > .container > footer .tags li {
    float: left;
    margin: 0.5em 0.5em 0 0;
  }
  article.body > .container > footer .tags a {
    display: inline-block;
    padding: 0.7em 0.9em 0.6em;
    color: rgb(83, 83, 83);
    background: rgb(252, 252, 252);
    border: 1px solid rgb(240, 240, 240);
    text-decoration: none;
  }

  article.body > .container > footer .tags a:hover,
  article.body > .container > footer .tags a:active,
  article.body > .container > footer .tags a:focus {
    background: white;
    color: #2f84da;
  }


  article.body > .container > footer,
  article.body > .container > footer > form + form,
  article.body > .container > footer > section,
  article.body > aside,
  article.body > section {

    /* @separator */
    margin-top: 2.95em;
    border-top: 0.1em solid rgb(221, 221, 221);
    padding-top: 2.95em;
  }
  article.body > .container > footer > section ul,
  article.body > .container > footer > section li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  article.body > .container > footer > section li {
    display: inline;
  }
  article.body > .comments ul {
    margin-top: 3em;
  }
  article.body > .comments ul,
  article.body > .comments li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  article.body > .comments li h3 {
    color: rgb(102, 102, 102);
    font-size: 0.75em; /* 12px / font-size(16px) */
    font-family: inherit;
  }
  article.body > .comments li h3 img {
    vertical-align: middle;
    margin-right: 0.5em;
  }
  article.body > .comments li h3 a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1.5em;
  }
  article.body > .comments li form {
    margin-top: 1.5em;
    margin-left: 1.5em;
  }
  aside .promotion.friends .action span,
  article.body footer .promote button {
    background-color: rgb(113, 179, 247);
  }
  article.body footer .promote button {
    padding: 0.5em 1em;
    font-family: "TradeGothicW01-BoldCn20 675334", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    font-weight: normal;
  }
  aside .promotion.friends a:hover  .action span,
  aside .promotion.friends a:active .action span,
  aside .promotion.friends a:focus  .action span,
  article.body footer .promote button:hover,
  article.body footer .promote button:active,
  article.body footer .promote button:focus {
    background-color: rgb(49, 144, 242);
  }
  article.body .manage button,
  article.body > .comments button {
    background-color: rgb(239, 239, 239);
    color: rgb(102, 102, 102);
  }
  article.body .manage button:hover,
  article.body .manage button:active,
  article.body .manage button:focus,
  article.body > .comments button:hover,
  article.body > .comments button:active,
  article.body > .comments button:focus {
    background: rgb(250, 250, 250);
    color: rgb(42, 43, 44);
  }
  article.body > .comments .submit a {
    color: rgb(247, 157, 130);
    font-weight: bold;
    text-decoration: inherit;
  }
  article.body > .comments .submit a:hover,
  article.body > .comments .submit a:active,
  article.body > .comments .submit a:focus {
    color: rgb(247, 113, 113);
  }

  html:hover article.body .manage h2 {
    opacity: 0;
    transition: opacity 0.2s;
  }
  html:hover article.body .manage:hover h2 {
    opacity: 1;
  }

  @media (min-width: 30em) {
    article.body > .container > footer {
      border-top-width: 0;
      padding-top: 0;
    }
    article.body > .container > footer .votes,
    article.body > .container > footer .manage {
      text-align: right;
      margin-bottom: 0;
    }
    article.body > .container > footer .manage button {
      font-size: 0.75em;
    }
    article.body > .container > footer .votes h2,
    article.body > .container > footer .manage h2,
    article.body > .container > footer .manage p {
      max-width: none;
    }
    article.body > .container > footer .promote {
      float: left;
    }
    article.body > .container > footer .votes,
    article.body > .container > footer .promote {
      margin-top: 1.5em;
    }
  }

  article.body > .container > header h1 {
    font-size: 2.375em; /* 38px / font-size(16px) */
  }

  article.body > .container > header .topics {
    color: rgb(102, 102, 102);
    font-size: 0.75em; /* 12px / font-size(16px) */
  }
  article.body > .container > header .topics strong {
    color: rgb(42, 43, 44); /* @text-color */
    font-size: 2.5em; /* 30px / font-size(12px) */
  }
  article.body > .container > header .topics a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }
  article.body > .container > header .topics a:hover,
  article.body > .container > header .topics a:active,
  article.body > .container > header .topics a:focus {
    color: rgb(153, 153, 153);
  }
  article.body > .container > header .time {
    color: rgb(102, 102, 102);
    font-size: 0.75em; /* 12px / font-size(16px) */
  }
  article.body > .container > header .time span {
    font-weight: bold;
  }

  article.body .suggested-post h2,
  article.body .comments h2,
  article.body .popular-posts h2 {
    font-family: inherit;
    font-weight: bold;
  }
  article.body .suggested-post h2 {
    font-size: inherit;
    font-weight: inherit;
  }
  article.body .suggested-post p a {
    text-decoration: inherit;
    color: inherit;
  }
  article.body .suggested-post p a:hover,
  article.body .suggested-post p a:active,
  article.body .suggested-post p a:focus {
    color: rgb(47, 132, 218);
  }
  article.body .suggested-post h2 a,
  article.body .popular-posts h2 a {
    color: inherit;
    text-decoration: none;
  }
  article.body .suggested-post h2 a:hover,
  article.body .suggested-post h2 a:active,
  article.body .suggested-post h2 a:focus,
  article.body .popular-posts  h2 a:hover,
  article.body .popular-posts  h2 a:active,
  article.body .popular-posts  h2 a:focus {
    color: rgb(47, 132, 218);
  }
  article.body .suggested-post h2 a {
    font-weight: bold;
  }
  article.body .suggested-post {
    border: 0.1em solid rgb(218, 220, 224);
    padding-left: 7.5em; /* image-width(120px) / font-size(16px) */
    position: relative;
    min-height: 12.5em; /* image-height(200px) / font-size(16px) */

    /* KLUDGE: Override the rules intended for sections and asides in the content area */
    padding-top: 0 !important;
  }
  article.body .suggested-post img {
    position: absolute;
    top: 0;
    left: 0
  }
  article.body .suggested-post h2 {
    margin: 1.5em;
  }
  article.body .suggested-post p {
    font-size: 2em;
    font-family: "FreightText Light", "FreightTextLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  article.body .suggested-post p a {
    display: block;
    padding: 0 0.75em 0.75em;
  }



/* =Promotion
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  aside .discussion {
    margin-top: 1.5em;
    position: relative;
    border: 0.25em solid rgb(247, 247, 247);
    background-color: rgb(252, 252, 252);
    padding: 1em; /* 16px / font-size(16px) */
  }
  aside .discussion h2 {
    position: absolute;
    top: -2.18181818181818em; /* 1.5em / font-size(0.6875em) */
    color: rgb(247, 113, 113);
    font-family: "Brandon Grot W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon */
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.6875em; /* 11px / font-size(16px) */
  }
  aside .discussion h3 {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
  }
  aside .discussion h3 a {
    color: rgb(102, 102, 102);
    text-decoration: inherit;
  }
  aside .discussion h3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75em;
  }
  aside .discussion ul,
  aside .discussion li,
  aside .promotion ul,
  aside .promotion li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  aside > .discussion + section,
  aside > .discussion + p {
    margin-top: 1.5em;
  }
  aside .discussion ul {
    margin-top: 1.5em;
  }
  aside .discussion li {
    padding: 1em 0; /* 11px / font-size(11px) */
    border-bottom: 1px solid rgb(218, 220, 224);
    color: rgb(102, 102, 102);
    font-size: 0.6875em; /* 11px / font-size(16px) */
  }
  aside .discussion li a {
    text-decoration: none;
  }
  aside .discussion li a:hover,
  aside .discussion li a:active,
  aside .discussion li a:focus {
    color: rgb(47, 132, 218);
  }
  aside .discussion li img {
    float: right;
    position: relative;
    top: -0.5em;
    margin-left: 0.5em;
  }
  aside .discussion .more {
    text-align: center;
  }
  aside .discussion .more a {
    color: rgb(247, 113, 113);
    text-decoration: inherit;
    font-weight: bold;
    font-size: 0.6875em; /* 11px / font-size(16px) */
  }
  .promotion {
    padding: 1.5em;
    background: rgb(249, 249, 250);
    border: 3px solid rgb(224, 224, 225);
  }
  .promotion > a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  p.ad {
    max-width: none;
  }


  /* =Testing
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */

  body.pattern {
    padding: 1.5em 1.5em 6em;
  }
  /*
  body.test-type {
    background: white url(../images/shared/rule.svg) top left repeat;
    background-size: auto 1.5em;
  }
  */

